.home-bg-container {
  display: flex;
  flex-direction: column;
}

.loader-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.home-page-container {
  height: 90vh;
  background-color: #ffffff;
  padding: 30px;
}

.course-head {
  font-size: 30px;
  font-weight: 900;
  font-family: 'Roboto';
  color: #1e293b;
  margin-left: 90px;
  margin-bottom: 0;
}

.courses-bg-container {
  list-style-type: none;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 40px;
}
